@using TheBlogProject.Models
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model IPagedList<Blog>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            @foreach(var blog in Model)
            {
                <h2>@blog.Title</h2>
                <h3>@blog.Description</h3>
                <hr />
            }
        </div>
    </div>
</div>

<!--Add paging controls here.-->
<div class="row">
    <div class="col h3">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    </div>
</div>
<div class="row">
    <div class="col h3">
        @Html.PagedListPager(Model, page => Url.Action("Index", new {page = page}),
            new PagedListRenderOptions
            {
                LiElementClasses = new string[] {"page-item"},
                PageClasses = new string[] {"page-link"}
            })
    </div>
</div>
